.header {
    border: 1px solid;

    display: flex;
    justify-content: space-between;

    padding: 10px 20px;

    align-items: center;

    margin: 20px;
}

.header>h1{
    cursor: pointer;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu>button {
    padding: 5px 10px;
    cursor: pointer;
}

/* .header-menu>button:hover {
    background-color: black;
    color: white;
} */